.button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 200px;
  background: var(--button);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: var(--basic-transition);
}

.home {
  padding: 16px 48px;
  max-width: 173px;
}

.catalogItem {
  padding: 16px 40px;
  max-width: 166px;
}

.button:hover {
  background: var(--button-hover);
}