.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 64px;
  gap: 450px;
  font-weight: 500;
  background-color: var(--inputs);
  border-bottom: 1px solid var(--badges);
  max-width: 1440px;
}

.wrapperlogo {
  display: flex;
  gap: 32px;
  align-items: center;
  width: 136px;
  height: 16px;
}

.logo {
  width: 30px;
  height: 24px;
}

.link {
  transition: var(--basic-transition);
}

.link:hover {
  color: var(--button-hover);
}

.active {
  color: var(--button-hover);
}

.wrapper {
  display: flex;
  gap: 32px;
}