.hero {
  display: flex;
  flex-direction: column;
  padding: 260px 0;
  background-image: url("/src/assets/hero.jpg");
  background-size: cover;
  text-align: left;
}

.container {
  padding: 0 64px;
}

.header,
.text {
  font-weight: 600;
  color: var(--inputs);
}

.header {
  font-size: 48px;
  line-height: 0.67;
  margin-bottom: 16px;
}

.text {
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 40px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url("/src/assets/hero@2x.jpg");
  }
}